
.container{
  width: 110%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: white;


}

.form-registro {
  width: 400px;
  background: #f4f7fa;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  border-radius: 4px;
  font-family: 'calibri';
  color: rgb(8, 8, 8);
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  text-align: center;
}

.form-registro h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.elemento {
  width: 100%;
  background: #dee1ee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid #0c0c0c;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(15, 15, 15);
}

.form-registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-registro a {
  color: rgb(31, 30, 30);
  text-decoration: none;
}

.form-registro a:hover {
  color: rgb(94, 89, 89);
  text-decoration: underline;
}

.form-registro .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
